<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.MemoMapper">
    <!--  회원정보 등록  -->
    <insert id="saveMember">
        <selectKey keyProperty="member_id" resultType="long" order="BEFORE">
            select seq_memo.nextval from dual
        </selectKey>
        insert into member (
            member_id,
            email,
            password,
            name
        ) values (
            #{member_id},
            #{email},
            #{password},
            #{name}
        )
    </insert>

    <!--  이메일로 회원정보 검색  -->
    <select id="findMemberByEmail" resultType="member">
        select * from member where email = #{email}
    </select>

    <!--  이메일 및 패스워드로 회원정보 검색(로그인)  -->
    <select id="findMember" resultType="member">
        select * from member where email = #{email} and password = #{password}
    </select>

    <!--  쪽지 저장  -->
    <insert id="saveMemo">
        <selectKey keyProperty="memo_id" resultType="long" order="BEFORE">
            select seq_memo.nextval from dual
        </selectKey>
        insert into memo (
            memo_id,
            title,
            contents
        ) values (
            #{memo_id},
            #{title},
            #{contents}
        )
    </insert>

    <!--  보낸 쪽지 내역 저장  -->
    <insert id="saveSendMemoRecord">
        <selectKey keyProperty="send_id" resultType="long" order="BEFORE">
            select seq_memo.nextval from dual
        </selectKey>
        insert into send_memo_record (
            send_id,
            memo_id,
            sender_id,
            receiver_id
        ) values (
            #{send_id},
            #{memo_id},
            #{sender_id},
            #{receiver_id}
        )
    </insert>

    <!--  받은 쪽지 내역 저장  -->
    <insert id="saveReceiveMemoRecord">
        <selectKey keyProperty="receive_id" resultType="long" order="BEFORE">
            select seq_memo.nextval from dual
        </selectKey>
        insert into receive_memo_record (
            receive_id,
            memo_id,
            sender_id,
            receiver_id
        ) values (
            #{receive_id},
            #{memo_id},
            #{sender_id},
            #{receiver_id}
        )
    </insert>

    <!--  보낸 쪽지 전체목록  -->
    <select id="findSendMemos" resultType="map">
        select
            m.memo_id,
            m.title,
            m.contents,
            s.send_id,
            s.sender_id,
            (select name from member where member_id = s.sender_id) sender_name,
            (select email from member where member_id = s.sender_id) sender_email,
            s.receiver_id,
            (select email from member where member_id = s.receiver_id) receiver_email,
            (select name from member where member_id = s.receiver_id) receiver_name,
            s.send_time
        from
            memo m join
            send_memo_record s
            on m.memo_id = s.memo_id
        where
            s.sender_id = #{sender_id}
        order by
            s.send_time desc
    </select>

    <!--  받은 쪽지 전체목록 -->
    <select id="findReceiveMemos" resultType="map">
        select
            m.memo_id,
            m.title,
            m.contents,
            r.receive_id,
            r.sender_id,
            (select name from member where member_id = r.sender_id) sender_name,
            (select email from member where member_id = r.sender_id) sender_email,
            r.receiver_id,
            (select email from member where member_id = r.receiver_id) receiver_email,
            (select name from member where member_id = r.receiver_id) receiver_name,
            r.is_read
        from
            memo m join
            receive_memo_record r
            on m.memo_id = r.memo_id
        where
            receiver_id = #{receiver_id}
        order by
            is_read, receive_id desc
    </select>

    <!--  받은 쪽지 읽기  -->
    <select id="findReceiveMemoById" resultType="map">
        select
            m.memo_id,
            m.title,
            m.contents,
            r.receive_id,
            (select name from member where r.sender_id = member.member_id) sender_name,
            (select email from member where r.sender_id = member.member_id) sender_email,
            r.receiver_id,
            (select name from member where r.receiver_id = member.member_id) receiver_name,
            r.is_read
        from
            memo m join
            receive_memo_record r
            on m.memo_id = r.memo_id
        where
            r.receive_id = #{receive_id}
    </select>

    <!--  받은 쪽지 확인여부 수정  -->
    <update id="updateReceiveMemo">
        update receive_memo_record set
            is_read = 'Y'
        where
            receive_id = #{receive_id}
    </update>

</mapper>